In [3]:
import numpy as np
import pandas as pd

1. Read the csv files (administrative_site1.csv, administrative_site2.csv and lab.csv) as admin_site1,
admin_site2 and lab, respectively. Create one data frame, admin, consisting of all rows in
admin_site1 and admin_site2.

In [4]:
admin_site1 = pd.read_csv("./administrative_site1.csv")
admin_site2 = pd.read_csv('./administrative_site2.csv')
lab = pd.read_csv('./lab.csv')

2. Create a new length_of_stay variable as defined as discharge date and time minus admission date and
time (in days). Calculate the mean length_of_stay for each hospital.

In [5]:
admin_site1.head()

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0

In [6]:
admin_site2.head()

,subjectid,admission.date,admission.time,discharge.date,discharge.time,hospital,gender,age,disease.status
0,1005,2005/12/04,03:43,04/29/2006,15:18,Mount Sinai Hospital,F,57.0,1
1,1033,2007/09/09,03:26,10/27/2007,06:06,Toronto Western Hospital,F,NaN,1
2,1038,2001/08/21,09:40,02/12/2002,10:50,Sunnybrook Health Sciences Centre,M,NaN,0
3,1042,2007/04/11,01:13,09/28/2007,18:37,Sunnybrook Health Sciences Centre,M,43.0,1
4,1044,2006/06/28,10:29,08/24/2006,20:22,Sunnybrook Health Sciences Centre,M,73.0,0

In [7]:
pd.to_datetime(admin_site1.admission_date.astype(str)+' '+admin_site1.admission_time.astype(str))
pd.to_datetime(admin_site2['admission.date'].astype(str)+' '+admin_site2['admission.time'].astype(str))

0      2005-12-04 03:43:00
1      2007-09-09 03:26:00
2      2001-08-21 09:40:00
3      2007-04-11 01:13:00
4      2006-06-28 10:29:00
               ...
1208   2006-03-17 16:46:00
1209   2001-01-02 01:34:00
1210   2010-06-29 22:39:00
1211   2012-04-10 19:27:00
1212   2008-04-05 01:35:00
Length: 1213, dtype: datetime64[ns]

In [8]:
admin_site1.dtypes

ID                  int64
admission_date     object
admission_time     object
discharge_date     object
discharge_time     object
hospital_ID        object
gender             object
age               float64
disease_status      int64
dtype: object

In [9]:
# admin_site1["admission_date"] = pd.to_datetime(admin_site1["admission_date"])
# admin_site1["admission_time"] = pd.to_timedelta(admin_site1["admission_time"]).dt.strftime('%H:%M:%S')
# admin_site1["discharge_date"] = pd.to_datetime(admin_site1["discharge_date"])
# admin_site1["discharge_time"] = pd.to_timedelta(admin_site1["discharge_time"]).dt.strftime('%H:%M:%S')

In [10]:
adminT=pd.to_datetime(admin_site1.admission_date.astype(str)+' '+admin_site1.admission_time.astype(str))
disT=pd.to_datetime(admin_site1.discharge_date.astype(str)+' '+admin_site1.discharge_time.astype(str))
admin2T=pd.to_datetime(admin_site2['admission.date'].astype(str)+' '+admin_site2['admission.time'].astype(str))
dis2T=pd.to_datetime(admin_site2['discharge.date'].astype(str)+' '+admin_site2['discharge.time'].astype(str))

In [11]:
admin_site1['length_of_stay']=disT-adminT
admin_site2['length_of_stay']=dis2T-admin2T

In [12]:
A=admin_site1[admin_site1['hospital_ID'] =="St. Joseph's Health Centre"]

In [13]:
B=admin_site1[admin_site1['hospital_ID'] =="St. Michael's Hospital"]

In [14]:
C=admin_site2[admin_site2['hospital'] =="Mount Sinai Hospital"]

In [15]:
D=admin_site2[admin_site2['hospital'] =="Toronto Western Hospital"]

In [16]:
E=admin_site2[admin_site2['hospital'] =="Sunnybrook Health Sciences Centre"]

In [17]:
A['length_of_stay'].mean()

Timedelta('93 days 03:06:53.739130')

In [18]:
B['length_of_stay'].mean()

Timedelta('102 days 05:09:24.344703')

In [19]:
C['length_of_stay'].mean()

Timedelta('99 days 23:12:18.181818')

In [20]:
D['length_of_stay'].mean()

Timedelta('100 days 21:08:01.621621')

In [21]:
E['length_of_stay'].mean()

Timedelta('97 days 14:35:58.596491')

3.Combine the admin and lab data using ID to create a complete dataset, retaining all IDs.

In [23]:
admin_site2.columns=admin_site1.columns

In [33]:
pd.merge(admin_site1, admin_site2, how='outer')

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00
5,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00
6,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00
7,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00
8,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00
9,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00
11,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00
12,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00
13,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00
14,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00
15,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00
17,1190,4/23/2013,10:00,8/16/2013,1:03,St. Michael's Hospital,M,76.0,1,114 days 15:03:00
18,1194,12/3/2010,11:02,5/16/2011,5:19,St. Michael's Hospital,M,58.0,0,163 days 18:17:00
19,1195,4/1/2011,18:25,8/28/2011,9:29,St. Michael's Hospital,F,56.0,0,148 days 15:04:00
20,1203,6/14/2011,8:44,12/11/2011,10:12,St. Michael's Hospital,M,47.0,1,180 days 01:28:00
21,1219,6/21/2001,19:30,8/16/2001,19:22,St. Michael's Hospital,M,75.0,0,55 days 23:52:00
22,1220,7/17/2001,12:55,8/26/2001,5:22,St. Joseph's Health Centre,M,43.0,0,39 days 16:27:00
23,1228,3/31/2001,11:16,7/1/2001,15:41,St. Michael's Hospital,M,57.0,0,92 days 04:25:00
24,1232,9/24/2012,11:27,2/22/2013,14:18,St. Michael's Hospital,F,38.0,0,151 days 02:51:00
25,1234,12/30/2009,11:43,6/17/2010,8:48,St. Michael's Hospital,F,67.0,0,168 days 21:05:00
26,1240,9/12/2004,13:36,9/14/2004,14:59,St. Michael's Hospital,F,60.0,0,2 days 01:23:00
27,1245,7/14/2003,12:52,8/10/2003,20:25,St. Michael's Hospital,M,66.0,0,27 days 07:33:00
28,1266,1/1/2000,3:54,1/13/2000,13:16,St. Michael's Hospital,F,NaN,1,12 days 09:22:00
29,1292,4/4/2003,7:36,6/17/2003,19:54,St. Joseph's Health Centre,NaN,NaN,1,74 days 12:18:00
...,...,...,...,...,...,...,...,...,...,...
1970,9741,2013/01/11,11:42,06/11/2013,13:27,Mount Sinai Hospital,M,41.0,0,151 days 01:45:00
1971,9754,2008/10/20,22:09,04/29/2009,23:44,Toronto Western Hospital,F,66.0,0,191 days 01:35:00
1972,9775,2003/09/21,07:25,03/31/2004,16:48,Toronto Western Hospital,F,48.0,1,192 days 09:23:00
1973,9776,2010/01/15,11:57,03/09/2010,16:39,Toronto Western Hospital,F,49.0,0,53 days 04:42:00
1974,9779,2005/11/12,09:53,05/12/2006,17:25,Sunnybrook Health Sciences Centre,F,81.0,1,181 days 07:32:00
1975,9780,2008/01/03,13:22,02/05/2008,23:15,Sunnybrook Health Sciences Centre,NaN,78.0,1,33 days 09:53:00
1976,9782,2009/02/22,12:25,06/16/2009,20:16,Mount Sinai Hospital,M,43.0,0,114 days 07:51:00
1977,9786,2011/11/05,01:41,04/29/2012,05:24,Toronto Western Hospital,F,61.0,1,176 days 03:43:00
1978,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00
1979,9820,2012/01/17,10:20,03/07/2012,02:28,Mount Sinai Hospital,F,NaN,0,49 days 16:08:00
1980,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00
1981,9855,2003/04/30,21:37,08/29/2003,13:15,Sunnybrook Health Sciences Centre,M,38.0,0,120 days 15:38:00
1982,9859,2006/01/08,04:06,05/06/2006,12:53,Toronto Western Hospital,F,64.0,0,118 days 08:47:00
1983,9867,2012/07/02,05:26,12/19/2012,17:36,Sunnybrook Health Sciences Centre,M,NaN,0,170 days 12:10:00
1984,9871,2000/10/05,08:51,12/20/2000,08:39,Mount Sinai Hospital,M,63.0,0,75 days 23:48:00
1985,9886,2000/02/13,18:33,03/15/2000,15:16,Sunnybrook Health Sciences Centre,M,60.0,0,30 days 20:43:00
1986,9906,2008/03/23,01:49,06/05/2008,21:56,Toronto Western Hospital,M,56.0,0,74 days 20:07:00
1987,9915,2008/11/20,23:31,03/27/2009,02:40,Toronto Western Hospital,M,69.0,1,126 days 03:09:00
1988,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00
1989,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00
1990,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00
1991,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00
1992,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00
1993,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00
1994,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00
1995,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00
1996,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00
1997,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00
1998,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00
1999,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00

In [41]:
admin=pd.concat([admin_site1, admin_site2], join='outer')
admin

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00
5,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00
6,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00
7,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00
8,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00
9,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00
11,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00
12,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00
13,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00
14,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00
15,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00
17,1190,4/23/2013,10:00,8/16/2013,1:03,St. Michael's Hospital,M,76.0,1,114 days 15:03:00
18,1194,12/3/2010,11:02,5/16/2011,5:19,St. Michael's Hospital,M,58.0,0,163 days 18:17:00
19,1195,4/1/2011,18:25,8/28/2011,9:29,St. Michael's Hospital,F,56.0,0,148 days 15:04:00
20,1203,6/14/2011,8:44,12/11/2011,10:12,St. Michael's Hospital,M,47.0,1,180 days 01:28:00
21,1219,6/21/2001,19:30,8/16/2001,19:22,St. Michael's Hospital,M,75.0,0,55 days 23:52:00
22,1220,7/17/2001,12:55,8/26/2001,5:22,St. Joseph's Health Centre,M,43.0,0,39 days 16:27:00
23,1228,3/31/2001,11:16,7/1/2001,15:41,St. Michael's Hospital,M,57.0,0,92 days 04:25:00
24,1232,9/24/2012,11:27,2/22/2013,14:18,St. Michael's Hospital,F,38.0,0,151 days 02:51:00
25,1234,12/30/2009,11:43,6/17/2010,8:48,St. Michael's Hospital,F,67.0,0,168 days 21:05:00
26,1240,9/12/2004,13:36,9/14/2004,14:59,St. Michael's Hospital,F,60.0,0,2 days 01:23:00
27,1245,7/14/2003,12:52,8/10/2003,20:25,St. Michael's Hospital,M,66.0,0,27 days 07:33:00
28,1266,1/1/2000,3:54,1/13/2000,13:16,St. Michael's Hospital,F,NaN,1,12 days 09:22:00
29,1292,4/4/2003,7:36,6/17/2003,19:54,St. Joseph's Health Centre,NaN,NaN,1,74 days 12:18:00
...,...,...,...,...,...,...,...,...,...,...
1183,9741,2013/01/11,11:42,06/11/2013,13:27,Mount Sinai Hospital,M,41.0,0,151 days 01:45:00
1184,9754,2008/10/20,22:09,04/29/2009,23:44,Toronto Western Hospital,F,66.0,0,191 days 01:35:00
1185,9775,2003/09/21,07:25,03/31/2004,16:48,Toronto Western Hospital,F,48.0,1,192 days 09:23:00
1186,9776,2010/01/15,11:57,03/09/2010,16:39,Toronto Western Hospital,F,49.0,0,53 days 04:42:00
1187,9779,2005/11/12,09:53,05/12/2006,17:25,Sunnybrook Health Sciences Centre,F,81.0,1,181 days 07:32:00
1188,9780,2008/01/03,13:22,02/05/2008,23:15,Sunnybrook Health Sciences Centre,NaN,78.0,1,33 days 09:53:00
1189,9782,2009/02/22,12:25,06/16/2009,20:16,Mount Sinai Hospital,M,43.0,0,114 days 07:51:00
1190,9786,2011/11/05,01:41,04/29/2012,05:24,Toronto Western Hospital,F,61.0,1,176 days 03:43:00
1191,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00
1192,9820,2012/01/17,10:20,03/07/2012,02:28,Mount Sinai Hospital,F,NaN,0,49 days 16:08:00
1193,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00
1194,9855,2003/04/30,21:37,08/29/2003,13:15,Sunnybrook Health Sciences Centre,M,38.0,0,120 days 15:38:00
1195,9859,2006/01/08,04:06,05/06/2006,12:53,Toronto Western Hospital,F,64.0,0,118 days 08:47:00
1196,9867,2012/07/02,05:26,12/19/2012,17:36,Sunnybrook Health Sciences Centre,M,NaN,0,170 days 12:10:00
1197,9871,2000/10/05,08:51,12/20/2000,08:39,Mount Sinai Hospital,M,63.0,0,75 days 23:48:00
1198,9886,2000/02/13,18:33,03/15/2000,15:16,Sunnybrook Health Sciences Centre,M,60.0,0,30 days 20:43:00
1199,9906,2008/03/23,01:49,06/05/2008,21:56,Toronto Western Hospital,M,56.0,0,74 days 20:07:00
1200,9915,2008/11/20,23:31,03/27/2009,02:40,Toronto Western Hospital,M,69.0,1,126 days 03:09:00
1201,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00
1202,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00
1203,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00
1204,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00
1205,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00
1206,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00
1207,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00
1208,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00
1209,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00
1210,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00
1211,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00
1212,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00

In [35]:
pd.concat([admin_site1, admin_site2], join='inner')

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00
5,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00
6,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00
7,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00
8,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00
9,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00
11,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00
12,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00
13,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00
14,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00
15,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00
17,1190,4/23/2013,10:00,8/16/2013,1:03,St. Michael's Hospital,M,76.0,1,114 days 15:03:00
18,1194,12/3/2010,11:02,5/16/2011,5:19,St. Michael's Hospital,M,58.0,0,163 days 18:17:00
19,1195,4/1/2011,18:25,8/28/2011,9:29,St. Michael's Hospital,F,56.0,0,148 days 15:04:00
20,1203,6/14/2011,8:44,12/11/2011,10:12,St. Michael's Hospital,M,47.0,1,180 days 01:28:00
21,1219,6/21/2001,19:30,8/16/2001,19:22,St. Michael's Hospital,M,75.0,0,55 days 23:52:00
22,1220,7/17/2001,12:55,8/26/2001,5:22,St. Joseph's Health Centre,M,43.0,0,39 days 16:27:00
23,1228,3/31/2001,11:16,7/1/2001,15:41,St. Michael's Hospital,M,57.0,0,92 days 04:25:00
24,1232,9/24/2012,11:27,2/22/2013,14:18,St. Michael's Hospital,F,38.0,0,151 days 02:51:00
25,1234,12/30/2009,11:43,6/17/2010,8:48,St. Michael's Hospital,F,67.0,0,168 days 21:05:00
26,1240,9/12/2004,13:36,9/14/2004,14:59,St. Michael's Hospital,F,60.0,0,2 days 01:23:00
27,1245,7/14/2003,12:52,8/10/2003,20:25,St. Michael's Hospital,M,66.0,0,27 days 07:33:00
28,1266,1/1/2000,3:54,1/13/2000,13:16,St. Michael's Hospital,F,NaN,1,12 days 09:22:00
29,1292,4/4/2003,7:36,6/17/2003,19:54,St. Joseph's Health Centre,NaN,NaN,1,74 days 12:18:00
...,...,...,...,...,...,...,...,...,...,...
1183,9741,2013/01/11,11:42,06/11/2013,13:27,Mount Sinai Hospital,M,41.0,0,151 days 01:45:00
1184,9754,2008/10/20,22:09,04/29/2009,23:44,Toronto Western Hospital,F,66.0,0,191 days 01:35:00
1185,9775,2003/09/21,07:25,03/31/2004,16:48,Toronto Western Hospital,F,48.0,1,192 days 09:23:00
1186,9776,2010/01/15,11:57,03/09/2010,16:39,Toronto Western Hospital,F,49.0,0,53 days 04:42:00
1187,9779,2005/11/12,09:53,05/12/2006,17:25,Sunnybrook Health Sciences Centre,F,81.0,1,181 days 07:32:00
1188,9780,2008/01/03,13:22,02/05/2008,23:15,Sunnybrook Health Sciences Centre,NaN,78.0,1,33 days 09:53:00
1189,9782,2009/02/22,12:25,06/16/2009,20:16,Mount Sinai Hospital,M,43.0,0,114 days 07:51:00
1190,9786,2011/11/05,01:41,04/29/2012,05:24,Toronto Western Hospital,F,61.0,1,176 days 03:43:00
1191,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00
1192,9820,2012/01/17,10:20,03/07/2012,02:28,Mount Sinai Hospital,F,NaN,0,49 days 16:08:00
1193,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00
1194,9855,2003/04/30,21:37,08/29/2003,13:15,Sunnybrook Health Sciences Centre,M,38.0,0,120 days 15:38:00
1195,9859,2006/01/08,04:06,05/06/2006,12:53,Toronto Western Hospital,F,64.0,0,118 days 08:47:00
1196,9867,2012/07/02,05:26,12/19/2012,17:36,Sunnybrook Health Sciences Centre,M,NaN,0,170 days 12:10:00
1197,9871,2000/10/05,08:51,12/20/2000,08:39,Mount Sinai Hospital,M,63.0,0,75 days 23:48:00
1198,9886,2000/02/13,18:33,03/15/2000,15:16,Sunnybrook Health Sciences Centre,M,60.0,0,30 days 20:43:00
1199,9906,2008/03/23,01:49,06/05/2008,21:56,Toronto Western Hospital,M,56.0,0,74 days 20:07:00
1200,9915,2008/11/20,23:31,03/27/2009,02:40,Toronto Western Hospital,M,69.0,1,126 days 03:09:00
1201,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00
1202,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00
1203,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00
1204,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00
1205,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00
1206,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00
1207,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00
1208,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00
1209,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00
1210,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00
1211,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00
1212,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00

In [47]:
full=pd.merge(admin, lab, on='ID')
full

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay,test_name,test_code,result_unit,result_value,result_date,result_time,provider_name
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,Sodium plasma,NAPL,mmol/L,137.0,2002-05-07,05:26,"Wray, Jamie"
1,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,Creatinine plasma,CREAPL,umol/L,537.0,2002-05-02,02:02,"Young, Jennifer"
2,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,Sodium plasma,NAPL,mmol/L,143.1,2004-10-19,04:17,"Wilbur, Kurra"
3,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,Urea plasma,UREAPL,mmol/L,13.0,2004-11-05,13:58,"PREMOVICH, TAYLOR"
4,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00,Sodium plasma,NAPL,mmol/L,145.7,2011-04-25,21:51,"Ivojevic, Alexandra"
5,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00,Creatinine plasma,CREAPL,umol/L,73.1,2011-06-10,08:38,"Marshall, Alyssa"
6,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00,Chloride plasma,CLPL,mmol/L,77.3,2000-03-31,03:40,"Hughes, Amber"
7,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00,Creatinine plasma,CREAPL,umol/L,367.9,2000-05-22,20:55,"Weltzheimer, Casey"
8,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00,Potassium plasma,KPL,mmol/L,6.5,2003-12-07,02:37,"ANSARY, CAITLIN"
9,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00,Sodium plasma,NAPL,mmol/L,146.0,2003-11-20,05:18,"Stark, Brenna"
10,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00,Sodium plasma,NAPL,mmol/L,148.0,2008-11-02,05:32,"Warntjes Wright, Margaret"
11,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00,Potassium plasma,KPL,mmol/L,3.8,2000-09-13,05:53,"Skovgaard, Victoria"
12,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00,Potassium plasma,KPL,mmol/L,6.7,2000-08-24,23:24,"Hildebrand, Caitlin"
13,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00,Sodium plasma,NAPL,mmol/L,140.8,2013-11-05,23:53,"Syvertson, Ashley"
14,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00,Chloride plasma,CLPL,mmol/L,98.6,2013-10-30,22:46,"Lihzis, Courtney"
15,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00,Sodium plasma,NAPL,mmol/L,128.4,2009-07-09,07:34,"PASSARELLI, HAYLEIGH"
16,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00,Sodium plasma,NAPL,mmol/L,141.5,2009-07-10,12:31,"Wright, Kelsey"
17,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00,Sodium plasma,NAPL,mmol/L,141.4,2014-12-29,05:14,"turgeon, kiri"
18,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00,Urea plasma,UREAPL,mmol/L,45.6,2015-01-30,03:57,"Hopkins, Erin"
19,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00,Sodium plasma,NAPL,mmol/L,145.2,2005-03-09,03:16,"Villarreal, Samantha"
20,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00,Potassium plasma,KPL,mmol/L,7.9,2005-03-11,08:52,"Remington, Lauren"
21,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00,Urea plasma,UREAPL,mmol/L,44.3,2004-05-06,15:22,"norberg, toni"
22,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00,Creatinine plasma,CREAPL,umol/L,52.0,2004-06-05,17:04,"Stein, Kate Lynne"
23,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00,Potassium plasma,KPL,mmol/L,9.0,2009-09-05,03:42,"blake, danielle"
24,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00,Sodium plasma,NAPL,mmol/L,121.2,2006-05-01,08:27,"Griffen, Jessica"
25,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00,Sodium plasma,NAPL,mmol/L,140.7,2006-04-20,14:19,"benko, raiana"
26,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00,Urea plasma,UREAPL,mmol/L,1.7,2008-12-17,07:54,"ARNDT, DANIELLE"
27,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00,Urea plasma,UREAPL,mmol/L,106.2,2009-01-12,06:37,"Stewart, Cassandra"
28,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00,Potassium plasma,KPL,mmol/L,2.5,2014-07-29,22:09,"benson, nicole"
29,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00,Sodium plasma,NAPL,mmol/L,133.8,2014-08-15,02:35,"Ragsdale, Zoe"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00,Sodium plasma,NAPL,mmol/L,142.2,2008-06-12,06:35,"Dillard, Jordan"
2971,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00,Creatinine plasma,CREAPL,umol/L,224.7,2008-06-02,14:12,"Hendrickson, Kelsey"
2972,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00,Urea plasma,UREAPL,mmol/L,42.9,2006-04-06,01:15,"Odalen, Emily"
2973,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00,Potassium plasma,KPL,mmol/L,5.7,2006-04-15,16:53,"Wyse, Tess"
2974,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00,Sodium plasma,NAPL,mmol/L,131.8,2006-04-23,13:57,"Henzen, Jessica"
2975,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00,Sodium plasma,NAPL,mmol/L,120.1,2015-02-14,02:07,"Herrin, Taylor"
2976,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00,Urea plasma,UREAPL,mmol/L,149.9,2015-02-22,07:35,"blackmon, sondra"
2977,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00,Urea plasma,UREAPL,mmol/L,86.8,2004-09-05,23:55,"Sneller, Nicole"
2978,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00,Bicarbonate plasma,TCO2PL,mmol/L,52.1,2004-09-01,20:07,"King, Alexandra"
2979,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00,Creatinine plasma,CREAPL,umol/L,342.2,2004-09-05,08:16,"Welsh, Kaitlynn"
2980,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00,Urea plasma,UREAPL,mmol/L,118.7,2000-11-17,09:53,"burbage, kaycee"
2981,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00,Creatinine plasma,CREAPL,umol/L,396.5,2000-11-06,11:39,"Reynolds, Marisa"
2982,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00,Sodium plasma,NAPL,mmol/L,144.6,2000-11-05,09:29,"Runck, Marisa"
2983,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00,Urea plasma,UREAPL,mmol/L,144.7,2006-02-27,07:13,"Faller, Kendra"
2984,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00,Chloride plasma,CLPL,mmol/L,150.9,2006-02-15,15:43,"Zonnefeld, Alexandra"
2985,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00,Creatinine plasma,CREAPL,umol/L,238.7,2005-12-21,17:04,"AREND, SHANIA"
2986,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00,Sodium plasma,NAPL,mmol/L,122.1,2000-02-23,15:18,"thurston, allison"
2987,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00,Bicarbonate plasma,TCO2PL,mmol/L,37.2,2000-02-24,10:19,"White, Alexandria"
2988,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00,Sodium plasma,NAPL,mmol/L,143.8,2006-05-03,18:53,"Kramer, Caitlin"
2989,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00,Urea plasma,UREAPL,mmol/L,5.2,2006-04-23,01:30,"Jackson, Gianna"
2990,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00,Chloride plasma,CLPL,mmol/L,79.0,2006-05-24,13:40,"trumm, kelsey"
2991,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00,Sodium plasma,NAPL,mmol/L,143.0,2001-01-13,23:32,"Lynch, Makayla"
2992,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00,Creatinine plasma,CREAPL,umol/L,355.7,2001-01-07,09:25,"Larson, Mona"
2993,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00,Creatinine plasma,CREAPL,umol/L,301.0,2001-01-24,14:22,"Vimont, Ashley"
2994,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00,Sodium plasma,NAPL,mmol/L,120.8,2010-06-29,18:00,"Fedder, Brianna"
2995,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00,Sodium plasma,NAPL,mmol/L,122.6,2010-07-19,09:14,"ARTZER, ASHLEY"
2996,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00,Potassium plasma,KPL,mmol/L,8.0,2012-08-07,13:22,"Mcmanaway, Katherine"
2997,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00,Urea plasma,UREAPL,mmol/L,137.6,2012-04-28,15:53,"Criner, Katelyn"
2998,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00,Sodium plasma,NAPL,mmol/L,126.2,2008-07-09,13:44,"bennett, meagan"
2999,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00,Sodium plasma,NAPL,mmol/L,148.1,2008-05-29,19:40,"PETERS, MEGAN"

4. What similarities and differences do you see between the admin_site1 and admin_site2 data? How would you improve the format of the admin data?

It is the same type of data format, but the column name is different, making it difficult to manage at the same time. It's better to manage with the same column name.  
#### ( admin_site2.columns=admin_site1.columns )

5.a) Transform the lab data from long format to wide format such that values in test_name become columns (e.g., table below). If a test appears more than once for a subject (i.e., duplicated test_name for the same ID), filter for the lowest result_value.

In [50]:
lab.head()

,ID,test_name,test_code,result_unit,result_value,result_date,result_time,provider_name
0,1003,Sodium plasma,NAPL,mmol/L,137.0,2002-05-07,05:26,"Wray, Jamie"
1,1003,Creatinine plasma,CREAPL,umol/L,537.0,2002-05-02,02:02,"Young, Jennifer"
2,1005,Urea plasma,UREAPL,mmol/L,37.3,2005-12-04,16:02,"Glass, Caitlin"
3,1008,Sodium plasma,NAPL,mmol/L,143.1,2004-10-19,04:17,"Wilbur, Kurra"
4,1008,Urea plasma,UREAPL,mmol/L,13.0,2004-11-05,13:58,"PREMOVICH, TAYLOR"

In [81]:
# pd.pivot_table(lab, index='ID',columns='test_name', values= 'result_value', aggfunc= [np.mean, np.median, min, max, np.std])

In [82]:
# Applying a custom function to remove outliers
# pd.pivot_table(lab, index='ID',columns='test_name', values= 'result_value', aggfunc= [np.mean, np.median, min, max, np.std, lambda x: x.count()/3])

In [ ]:
# Visualizing the pivot table using plot()

# import matplotlib.pyplot as plt
# import seaborn as sns
# # use Seaborn styles
# sns.set()
# pd.pivot_table(lab, index='ID',columns='test_name', values= 'result_value', aggfunc='min').plot(kind= 'bar')
# plt.ylabel("result vaule")

5.b)	Name this data frame as lab_wide and report column mean for â€œUrea plasmaâ€.

In [76]:
lab_wide=lab.pivot_table(index='ID', columns='test_name', values='result_value',aggfunc='min')
lab_wide

test_name,Bicarbonate plasma,Chloride plasma,Creatinine plasma,Potassium plasma,Sodium plasma,Urea plasma
ID,,,,,,
1003,NaN,NaN,537.0,NaN,137.0,NaN
1005,NaN,NaN,NaN,NaN,NaN,37.3
1008,NaN,NaN,NaN,NaN,143.1,13.0
1009,NaN,NaN,73.1,NaN,145.7,NaN
1019,NaN,77.3,367.9,NaN,NaN,NaN
1030,NaN,NaN,NaN,6.5,146.0,NaN
1031,NaN,NaN,NaN,NaN,148.0,NaN
1033,NaN,NaN,NaN,NaN,129.9,5.5
1036,NaN,NaN,NaN,3.8,NaN,NaN
1037,NaN,98.6,NaN,NaN,140.8,NaN
1038,NaN,NaN,418.5,NaN,142.2,NaN
1042,NaN,NaN,NaN,NaN,141.4,NaN
1044,NaN,110.4,NaN,NaN,NaN,NaN
1054,NaN,NaN,NaN,6.9,147.5,NaN
1056,NaN,NaN,NaN,NaN,143.4,NaN
1071,NaN,NaN,NaN,NaN,128.4,NaN
1074,NaN,NaN,NaN,NaN,141.4,45.6
1086,NaN,196.3,NaN,NaN,NaN,NaN
1092,NaN,NaN,NaN,7.9,145.2,NaN
1094,NaN,NaN,NaN,6.0,132.7,NaN
1101,NaN,153.0,NaN,NaN,NaN,NaN
1104,NaN,NaN,NaN,NaN,124.6,NaN
1105,NaN,NaN,52.0,NaN,NaN,44.3
1109,NaN,NaN,NaN,NaN,NaN,117.3
1122,NaN,NaN,NaN,NaN,NaN,45.7
1127,60.4,NaN,548.9,NaN,NaN,NaN
1131,NaN,NaN,NaN,9.0,NaN,NaN
1136,NaN,NaN,NaN,NaN,NaN,44.8
1143,NaN,NaN,NaN,NaN,121.2,NaN
1153,NaN,NaN,NaN,4.4,NaN,NaN
...,...,...,...,...,...,...
9891,25.3,NaN,NaN,7.2,NaN,NaN
9892,NaN,NaN,NaN,NaN,134.9,116.5
9893,NaN,114.2,NaN,6.3,NaN,NaN
9894,NaN,NaN,381.1,NaN,120.1,NaN
9895,NaN,NaN,579.4,NaN,123.2,NaN
9903,NaN,NaN,NaN,NaN,130.3,126.5
9906,33.7,NaN,NaN,NaN,128.2,NaN
9915,56.5,NaN,NaN,NaN,NaN,NaN
9917,NaN,NaN,224.7,NaN,142.2,NaN
9922,NaN,NaN,NaN,5.7,131.8,42.9
9924,NaN,NaN,NaN,NaN,139.9,NaN
9925,NaN,125.3,NaN,NaN,131.1,112.1
9932,NaN,NaN,NaN,NaN,120.1,149.9
9933,NaN,62.9,NaN,NaN,120.9,NaN
9939,52.1,NaN,342.2,NaN,NaN,86.8
9940,NaN,NaN,396.5,NaN,144.6,118.7
9944,NaN,NaN,156.8,4.6,NaN,NaN
9946,NaN,150.9,238.7,NaN,NaN,144.7
9948,37.2,NaN,NaN,NaN,122.1,NaN
9952,NaN,79.0,NaN,NaN,143.8,5.2
9959,63.9,NaN,585.8,NaN,143.9,NaN
9961,NaN,NaN,301.0,NaN,143.0,NaN
9962,NaN,NaN,NaN,NaN,120.6,NaN
9973,NaN,NaN,NaN,NaN,120.8,NaN
9974,18.1,NaN,NaN,NaN,NaN,NaN
9976,NaN,NaN,118.2,NaN,135.4,NaN
9985,NaN,185.6,343.6,NaN,NaN,NaN
9986,NaN,NaN,NaN,8.7,123.4,NaN
9992,NaN,NaN,NaN,8.0,NaN,137.6
9999,NaN,NaN,NaN,NaN,126.2,NaN

In [79]:
lab_wide['Urea plasma'].mean()

72.66967592592593

In [80]:
lab_wide['Urea plasma'].sort_values(ascending=True)

ID
3643    0.1
9779    0.1
2132    0.2
4591    0.3
1497    0.5
       ...
9974    NaN
9976    NaN
9985    NaN
9986    NaN
9999    NaN
Name: Urea plasma, Length: 1820, dtype: float64

6.

a) For admin data, remove any rows with missing values (NA) in 2 or more variables. Name the resulting data frame as adm_filtered.
Report the missing rate (%) for each column in the adm_filtered data.

b)	Report the missing rate (%) for each column in the adm_filtered data.

In [91]:
adm_filtered=admin.dropna(thresh=2)
adm_filtered

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00
5,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00
6,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00
7,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00
8,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00
9,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00
11,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00
12,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00
13,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00
14,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00
15,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00
17,1190,4/23/2013,10:00,8/16/2013,1:03,St. Michael's Hospital,M,76.0,1,114 days 15:03:00
18,1194,12/3/2010,11:02,5/16/2011,5:19,St. Michael's Hospital,M,58.0,0,163 days 18:17:00
19,1195,4/1/2011,18:25,8/28/2011,9:29,St. Michael's Hospital,F,56.0,0,148 days 15:04:00
20,1203,6/14/2011,8:44,12/11/2011,10:12,St. Michael's Hospital,M,47.0,1,180 days 01:28:00
21,1219,6/21/2001,19:30,8/16/2001,19:22,St. Michael's Hospital,M,75.0,0,55 days 23:52:00
22,1220,7/17/2001,12:55,8/26/2001,5:22,St. Joseph's Health Centre,M,43.0,0,39 days 16:27:00
23,1228,3/31/2001,11:16,7/1/2001,15:41,St. Michael's Hospital,M,57.0,0,92 days 04:25:00
24,1232,9/24/2012,11:27,2/22/2013,14:18,St. Michael's Hospital,F,38.0,0,151 days 02:51:00
25,1234,12/30/2009,11:43,6/17/2010,8:48,St. Michael's Hospital,F,67.0,0,168 days 21:05:00
26,1240,9/12/2004,13:36,9/14/2004,14:59,St. Michael's Hospital,F,60.0,0,2 days 01:23:00
27,1245,7/14/2003,12:52,8/10/2003,20:25,St. Michael's Hospital,M,66.0,0,27 days 07:33:00
28,1266,1/1/2000,3:54,1/13/2000,13:16,St. Michael's Hospital,F,NaN,1,12 days 09:22:00
29,1292,4/4/2003,7:36,6/17/2003,19:54,St. Joseph's Health Centre,NaN,NaN,1,74 days 12:18:00
...,...,...,...,...,...,...,...,...,...,...
1183,9741,2013/01/11,11:42,06/11/2013,13:27,Mount Sinai Hospital,M,41.0,0,151 days 01:45:00
1184,9754,2008/10/20,22:09,04/29/2009,23:44,Toronto Western Hospital,F,66.0,0,191 days 01:35:00
1185,9775,2003/09/21,07:25,03/31/2004,16:48,Toronto Western Hospital,F,48.0,1,192 days 09:23:00
1186,9776,2010/01/15,11:57,03/09/2010,16:39,Toronto Western Hospital,F,49.0,0,53 days 04:42:00
1187,9779,2005/11/12,09:53,05/12/2006,17:25,Sunnybrook Health Sciences Centre,F,81.0,1,181 days 07:32:00
1188,9780,2008/01/03,13:22,02/05/2008,23:15,Sunnybrook Health Sciences Centre,NaN,78.0,1,33 days 09:53:00
1189,9782,2009/02/22,12:25,06/16/2009,20:16,Mount Sinai Hospital,M,43.0,0,114 days 07:51:00
1190,9786,2011/11/05,01:41,04/29/2012,05:24,Toronto Western Hospital,F,61.0,1,176 days 03:43:00
1191,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00
1192,9820,2012/01/17,10:20,03/07/2012,02:28,Mount Sinai Hospital,F,NaN,0,49 days 16:08:00
1193,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00
1194,9855,2003/04/30,21:37,08/29/2003,13:15,Sunnybrook Health Sciences Centre,M,38.0,0,120 days 15:38:00
1195,9859,2006/01/08,04:06,05/06/2006,12:53,Toronto Western Hospital,F,64.0,0,118 days 08:47:00
1196,9867,2012/07/02,05:26,12/19/2012,17:36,Sunnybrook Health Sciences Centre,M,NaN,0,170 days 12:10:00
1197,9871,2000/10/05,08:51,12/20/2000,08:39,Mount Sinai Hospital,M,63.0,0,75 days 23:48:00
1198,9886,2000/02/13,18:33,03/15/2000,15:16,Sunnybrook Health Sciences Centre,M,60.0,0,30 days 20:43:00
1199,9906,2008/03/23,01:49,06/05/2008,21:56,Toronto Western Hospital,M,56.0,0,74 days 20:07:00
1200,9915,2008/11/20,23:31,03/27/2009,02:40,Toronto Western Hospital,M,69.0,1,126 days 03:09:00
1201,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00
1202,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00
1203,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00
1204,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00
1205,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00
1206,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00
1207,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00
1208,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00
1209,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00
1210,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00
1211,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00
1212,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00

In [87]:
total_num =adm_filtered.isnull().sum().sort_values(ascending=False)

perc = adm_filtered.isnull().sum()/adm_filtered.isnull().count() *100
perc1 = (round(perc,2).sort_values(ascending=False))

# Creating a data frame:
df_miss = pd.concat([total_num, perc1], axis =1 , keys =["Total Missing Values", "Percentage %"]).sort_values(by ="Percentage %", ascending = False)

In [88]:
top_mis = df_miss[df_miss["Percentage %"]>0]
top_mis.reset_index(inplace=True)
top_mis

    index  Total Missing Values  Percentage %
0     age                   400          20.0
1  gender                   300          15.0

In [89]:
#Inspecting the Null values
adm_filtered.isnull().sum(axis=0)

ID                  0
admission_date      0
admission_time      0
discharge_date      0
discharge_time      0
hospital_ID         0
gender            300
age               400
disease_status      0
length_of_stay      0
dtype: int64

In [95]:
adm_filtered_missing = adm_filtered.isna()
adm_filtered_missing.head()

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False

In [97]:
adm_filtered_num_missing = adm_filtered_missing.sum()
adm_filtered_num_missing

ID                  0
admission_date      0
admission_time      0
discharge_date      0
discharge_time      0
hospital_ID         0
gender            300
age               400
disease_status      0
length_of_stay      0
dtype: int64

In [98]:
adm_filtered_num_missing / len(adm_filtered)

ID                0.00
admission_date    0.00
admission_time    0.00
discharge_date    0.00
discharge_time    0.00
hospital_ID       0.00
gender            0.15
age               0.20
disease_status    0.00
length_of_stay    0.00
dtype: float64

In [99]:
adm_filtered.isna().mean().round(4) * 100

ID                 0.0
admission_date     0.0
admission_time     0.0
discharge_date     0.0
discharge_time     0.0
hospital_ID        0.0
gender            15.0
age               20.0
disease_status     0.0
length_of_stay     0.0
dtype: float64

7.Make a copy of the lab data and name it lab_impute. In lab_impute, replace all result_value collected in the year 2002 with NA. Then, impute these NAs with the mean value of the remaining records of the corresponding test_name (e.g., replace the NAs of the test_name â€œBicarbonate plasmaâ€ with its mean value of non-NAs). Report the overall mean of result_value after imputations for the test_name â€œBicarbonate plasmaâ€.

In [105]:
lab_impute=lab.copy()

In [166]:
lab_impute['year']=pd.to_datetime(lab_impute.result_date).dt.year

In [174]:
#lab_impute['year']=pd.DatetimeIndex(lab_impute['result_date']).year

In [175]:
#if the date format comes in datetime, we can also extract the day/month/year using the to_period function
#where 'D', 'M', 'Y' are inputs

lab_impute['month_year'] = pd.to_datetime(lab_impute['result_date']).dt.to_period('M')

In [176]:
lab_impute.loc[(lab_impute['year'] == 2002),'result_value']=np.nan

In [177]:
lab.test_name.unique()

array(['Sodium plasma', 'Creatinine plasma', 'Urea plasma',
       'Chloride plasma', 'Potassium plasma', 'Bicarbonate plasma'],
      dtype=object)

In [178]:
lab_impute.groupby('test_name')['result_value'].mean()

test_name
Bicarbonate plasma     56.530405
Chloride plasma       130.503859
Creatinine plasma     323.499742
Potassium plasma        6.322656
Sodium plasma         134.846264
Urea plasma            75.044647
Name: result_value, dtype: float64

In [179]:
#lab_impute.groupby("test_name")['result_value'].transform(lambda x: x.fillna(x.mean()))

In [180]:
lab_impute['result_value'] = lab_impute['result_value'].fillna(lab_impute.groupby('test_name')['result_value'].transform('mean'))

In [181]:
lab_impute.head()

,ID,test_name,test_code,result_unit,result_value,result_date,result_time,provider_name,year,month_year
0,1003,Sodium plasma,NAPL,mmol/L,134.846264,2002-05-07,05:26,"Wray, Jamie",2002,2002-05
1,1003,Creatinine plasma,CREAPL,umol/L,323.499742,2002-05-02,02:02,"Young, Jennifer",2002,2002-05
2,1005,Urea plasma,UREAPL,mmol/L,37.300000,2005-12-04,16:02,"Glass, Caitlin",2005,2005-12
3,1008,Sodium plasma,NAPL,mmol/L,143.100000,2004-10-19,04:17,"Wilbur, Kurra",2004,2004-10
4,1008,Urea plasma,UREAPL,mmol/L,13.000000,2004-11-05,13:58,"PREMOVICH, TAYLOR",2004,2004-11

In [135]:
lab_impute.groupby('test_name')['result_value'].mean()

test_name
Bicarbonate plasma     56.530405
Chloride plasma       130.503859
Creatinine plasma     323.499742
Potassium plasma        6.322656
Sodium plasma         134.846264
Urea plasma            75.044647
Name: result_value, dtype: float64

8.For the lab data, find rows where the provider_name contains â€œJessicaâ€ or â€œKelseyâ€ (case insensitive). Compute and compare the mean result_value for the test_code â€œNAPLâ€ between providers containing â€œJessicaâ€ vs. providers containing â€œKelseyâ€.

In [136]:
lab.head()

,ID,test_name,test_code,result_unit,result_value,result_date,result_time,provider_name
0,1003,Sodium plasma,NAPL,mmol/L,137.0,2002-05-07,05:26,"Wray, Jamie"
1,1003,Creatinine plasma,CREAPL,umol/L,537.0,2002-05-02,02:02,"Young, Jennifer"
2,1005,Urea plasma,UREAPL,mmol/L,37.3,2005-12-04,16:02,"Glass, Caitlin"
3,1008,Sodium plasma,NAPL,mmol/L,143.1,2004-10-19,04:17,"Wilbur, Kurra"
4,1008,Urea plasma,UREAPL,mmol/L,13.0,2004-11-05,13:58,"PREMOVICH, TAYLOR"

In [158]:
jessica=lab[lab["provider_name"].str.contains("Jessica", case=False)]
Kelsey=lab[lab["provider_name"].str.contains("Kelsey", case=False)]

In [159]:
jessica.groupby('test_code')['result_value'].mean()

test_code
CLPL      121.928571
CREAPL    157.233333
KPL         4.914286
NAPL      131.680952
TCO2PL     57.733333
UREAPL     90.237500
Name: result_value, dtype: float64

In [153]:
jessica.groupby('test_code')['result_value'].count()

test_code
NAPL    52
Name: result_value, dtype: int64

In [160]:
Kelsey.groupby('test_code')['result_value'].mean()

test_code
CLPL      131.30
CREAPL    424.74
KPL         4.65
NAPL      136.00
TCO2PL     52.18
UREAPL     93.50
Name: result_value, dtype: float64

In [161]:
jessica[jessica['test_code']=='NAPL'].result_value.mean()

131.6809523809524

In [162]:
Kelsey[Kelsey['test_code']=='NAPL'].result_value.mean()

136.0

9.Using the admin data, create a function called â€œyear_outputâ€ to identify all rows with a specific year of hospital discharge and export the new data into a csv file. The function should have two arguments: year and output_file_name. Test your function with year = 2005 and output_file_name = Discharge_2005.csv.

In [163]:
admin.head()

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00

In [183]:
admin['year']=pd.to_datetime(admin.discharge_date).dt.year
admin

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay,year
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,2002
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,2005
2,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00,2011
3,1019,3/9/2000,10:15,5/29/2000,22:38,St. Michael's Hospital,M,NaN,1,81 days 12:23:00,2000
4,1030,11/18/2003,8:31,1/28/2004,13:21,St. Michael's Hospital,F,72.0,0,71 days 04:50:00,2004
5,1031,9/11/2008,12:09,1/11/2009,1:47,St. Michael's Hospital,F,54.0,1,121 days 13:38:00,2009
6,1036,8/20/2000,19:05,12/31/2000,7:24,St. Michael's Hospital,F,42.0,1,132 days 12:19:00,2000
7,1037,10/15/2013,5:11,11/7/2013,13:54,St. Michael's Hospital,F,48.0,1,23 days 08:43:00,2013
8,1071,7/5/2009,5:28,7/15/2009,6:57,St. Joseph's Health Centre,F,65.0,1,10 days 01:29:00,2009
9,1074,12/23/2014,15:16,4/24/2015,19:35,St. Michael's Hospital,F,NaN,1,122 days 04:19:00,2015
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00,2005
11,1105,2/5/2004,3:17,7/31/2004,2:16,St. Joseph's Health Centre,F,49.0,0,176 days 22:59:00,2004
12,1131,7/22/2009,19:56,11/9/2009,15:56,St. Michael's Hospital,F,42.0,1,109 days 20:00:00,2009
13,1143,3/23/2006,12:18,5/29/2006,7:36,St. Michael's Hospital,F,69.0,0,66 days 19:18:00,2006
14,1162,11/25/2008,15:21,1/13/2009,20:16,St. Joseph's Health Centre,F,63.0,1,49 days 04:55:00,2009
15,1167,6/30/2014,12:07,9/9/2014,14:57,St. Michael's Hospital,M,54.0,0,71 days 02:50:00,2014
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00,2002
17,1190,4/23/2013,10:00,8/16/2013,1:03,St. Michael's Hospital,M,76.0,1,114 days 15:03:00,2013
18,1194,12/3/2010,11:02,5/16/2011,5:19,St. Michael's Hospital,M,58.0,0,163 days 18:17:00,2011
19,1195,4/1/2011,18:25,8/28/2011,9:29,St. Michael's Hospital,F,56.0,0,148 days 15:04:00,2011
20,1203,6/14/2011,8:44,12/11/2011,10:12,St. Michael's Hospital,M,47.0,1,180 days 01:28:00,2011
21,1219,6/21/2001,19:30,8/16/2001,19:22,St. Michael's Hospital,M,75.0,0,55 days 23:52:00,2001
22,1220,7/17/2001,12:55,8/26/2001,5:22,St. Joseph's Health Centre,M,43.0,0,39 days 16:27:00,2001
23,1228,3/31/2001,11:16,7/1/2001,15:41,St. Michael's Hospital,M,57.0,0,92 days 04:25:00,2001
24,1232,9/24/2012,11:27,2/22/2013,14:18,St. Michael's Hospital,F,38.0,0,151 days 02:51:00,2013
25,1234,12/30/2009,11:43,6/17/2010,8:48,St. Michael's Hospital,F,67.0,0,168 days 21:05:00,2010
26,1240,9/12/2004,13:36,9/14/2004,14:59,St. Michael's Hospital,F,60.0,0,2 days 01:23:00,2004
27,1245,7/14/2003,12:52,8/10/2003,20:25,St. Michael's Hospital,M,66.0,0,27 days 07:33:00,2003
28,1266,1/1/2000,3:54,1/13/2000,13:16,St. Michael's Hospital,F,NaN,1,12 days 09:22:00,2000
29,1292,4/4/2003,7:36,6/17/2003,19:54,St. Joseph's Health Centre,NaN,NaN,1,74 days 12:18:00,2003
...,...,...,...,...,...,...,...,...,...,...,...
1183,9741,2013/01/11,11:42,06/11/2013,13:27,Mount Sinai Hospital,M,41.0,0,151 days 01:45:00,2013
1184,9754,2008/10/20,22:09,04/29/2009,23:44,Toronto Western Hospital,F,66.0,0,191 days 01:35:00,2009
1185,9775,2003/09/21,07:25,03/31/2004,16:48,Toronto Western Hospital,F,48.0,1,192 days 09:23:00,2004
1186,9776,2010/01/15,11:57,03/09/2010,16:39,Toronto Western Hospital,F,49.0,0,53 days 04:42:00,2010
1187,9779,2005/11/12,09:53,05/12/2006,17:25,Sunnybrook Health Sciences Centre,F,81.0,1,181 days 07:32:00,2006
1188,9780,2008/01/03,13:22,02/05/2008,23:15,Sunnybrook Health Sciences Centre,NaN,78.0,1,33 days 09:53:00,2008
1189,9782,2009/02/22,12:25,06/16/2009,20:16,Mount Sinai Hospital,M,43.0,0,114 days 07:51:00,2009
1190,9786,2011/11/05,01:41,04/29/2012,05:24,Toronto Western Hospital,F,61.0,1,176 days 03:43:00,2012
1191,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00,2005
1192,9820,2012/01/17,10:20,03/07/2012,02:28,Mount Sinai Hospital,F,NaN,0,49 days 16:08:00,2012
1193,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00,2005
1194,9855,2003/04/30,21:37,08/29/2003,13:15,Sunnybrook Health Sciences Centre,M,38.0,0,120 days 15:38:00,2003
1195,9859,2006/01/08,04:06,05/06/2006,12:53,Toronto Western Hospital,F,64.0,0,118 days 08:47:00,2006
1196,9867,2012/07/02,05:26,12/19/2012,17:36,Sunnybrook Health Sciences Centre,M,NaN,0,170 days 12:10:00,2012
1197,9871,2000/10/05,08:51,12/20/2000,08:39,Mount Sinai Hospital,M,63.0,0,75 days 23:48:00,2000
1198,9886,2000/02/13,18:33,03/15/2000,15:16,Sunnybrook Health Sciences Centre,M,60.0,0,30 days 20:43:00,2000
1199,9906,2008/03/23,01:49,06/05/2008,21:56,Toronto Western Hospital,M,56.0,0,74 days 20:07:00,2008
1200,9915,2008/11/20,23:31,03/27/2009,02:40,Toronto Western Hospital,M,69.0,1,126 days 03:09:00,2009
1201,9917,2008/04/30,14:23,09/13/2008,17:06,Toronto Western Hospital,NaN,NaN,0,136 days 02:43:00,2008
1202,9922,2006/04/04,04:48,09/23/2006,12:19,Mount Sinai Hospital,F,71.0,1,172 days 07:31:00,2006
1203,9932,2014/12/08,09:13,02/22/2015,16:55,Sunnybrook Health Sciences Centre,NaN,57.0,0,76 days 07:42:00,2015
1204,9939,2004/08/15,01:16,09/12/2004,13:03,Sunnybrook Health Sciences Centre,M,57.0,0,28 days 11:47:00,2004
1205,9940,2000/11/03,10:37,11/23/2000,01:56,Toronto Western Hospital,NaN,62.0,1,19 days 15:19:00,2000
1206,9946,2005/12/11,07:22,03/17/2006,19:01,Sunnybrook Health Sciences Centre,M,55.0,1,96 days 11:39:00,2006
1207,9948,2000/01/21,12:39,02/29/2000,03:30,Mount Sinai Hospital,F,45.0,0,38 days 14:51:00,2000
1208,9952,2006/03/17,16:46,05/25/2006,23:03,Sunnybrook Health Sciences Centre,M,46.0,1,69 days 06:17:00,2006
1209,9961,2001/01/02,01:34,02/12/2001,10:08,Mount Sinai Hospital,F,NaN,1,41 days 08:34:00,2001
1210,9973,2010/06/29,22:39,09/12/2010,07:04,Sunnybrook Health Sciences Centre,M,84.0,0,74 days 08:25:00,2010
1211,9992,2012/04/10,19:27,08/20/2012,10:04,Sunnybrook Health Sciences Centre,M,58.0,0,131 days 14:37:00,2012
1212,9999,2008/04/05,01:35,09/20/2008,12:45,Sunnybrook Health Sciences Centre,NaN,62.0,1,168 days 11:10:00,2008

In [187]:
str_expr = "year == 2002"    
df_q = admin.query(str_expr) 
df_q

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay,year
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,2002
16,1174,3/9/2002,1:10,5/24/2002,13:18,St. Joseph's Health Centre,F,57.0,0,76 days 12:08:00,2002
30,1316,6/5/2002,18:25,10/2/2002,20:44,St. Joseph's Health Centre,F,NaN,1,119 days 02:19:00,2002
32,1330,10/3/2002,11:38,10/11/2002,12:11,St. Michael's Hospital,F,49.0,0,8 days 00:33:00,2002
34,1344,8/16/2002,20:28,9/29/2002,18:11,St. Joseph's Health Centre,F,NaN,0,43 days 21:43:00,2002
36,1355,6/19/2002,9:29,9/23/2002,18:20,St. Joseph's Health Centre,F,79.0,0,96 days 08:51:00,2002
63,1608,2/3/2002,14:02,3/10/2002,20:22,St. Michael's Hospital,F,NaN,0,35 days 06:20:00,2002
76,1775,1/29/2002,9:51,3/28/2002,20:52,St. Michael's Hospital,M,60.0,0,58 days 11:01:00,2002
86,1896,10/20/2001,13:58,3/10/2002,17:55,St. Michael's Hospital,M,42.0,0,141 days 03:57:00,2002
96,1985,1/11/2002,7:58,3/20/2002,9:30,St. Michael's Hospital,F,66.0,0,68 days 01:32:00,2002
100,2023,3/8/2002,12:38,4/9/2002,12:38,St. Michael's Hospital,F,NaN,1,32 days 00:00:00,2002
101,2033,3/14/2002,22:50,3/28/2002,21:46,St. Michael's Hospital,M,70.0,0,13 days 22:56:00,2002
102,2059,7/12/2002,13:44,10/8/2002,12:25,St. Michael's Hospital,F,63.0,1,87 days 22:41:00,2002
127,2377,2/1/2002,4:50,4/9/2002,21:38,St. Joseph's Health Centre,M,41.0,0,67 days 16:48:00,2002
131,2431,12/27/2001,2:17,7/11/2002,16:29,St. Michael's Hospital,NaN,36.0,1,196 days 14:12:00,2002
141,2579,3/3/2002,1:10,3/20/2002,4:49,St. Michael's Hospital,M,83.0,1,17 days 03:39:00,2002
144,2646,9/19/2001,12:48,3/28/2002,13:04,St. Michael's Hospital,F,67.0,1,190 days 00:16:00,2002
151,2731,2/4/2002,18:44,8/10/2002,22:46,St. Michael's Hospital,M,72.0,0,187 days 04:02:00,2002
154,2752,6/6/2002,13:11,9/3/2002,4:22,St. Michael's Hospital,F,72.0,1,88 days 15:11:00,2002
186,3173,4/7/2002,12:30,10/18/2002,21:51,St. Joseph's Health Centre,M,79.0,0,194 days 09:21:00,2002
187,3180,5/8/2002,19:50,9/22/2002,21:29,St. Michael's Hospital,M,35.0,0,137 days 01:39:00,2002
196,3356,11/15/2001,3:22,5/4/2002,21:47,St. Michael's Hospital,M,54.0,0,170 days 18:25:00,2002
203,3481,12/22/2002,22:47,12/28/2002,23:36,St. Michael's Hospital,F,60.0,0,6 days 00:49:00,2002
208,3558,1/16/2002,11:52,5/22/2002,6:13,St. Michael's Hospital,M,52.0,0,125 days 18:21:00,2002
210,3588,5/25/2002,8:26,9/18/2002,8:14,St. Michael's Hospital,M,84.0,1,115 days 23:48:00,2002
223,3831,6/28/2002,15:23,10/31/2002,9:26,St. Michael's Hospital,M,49.0,1,124 days 18:03:00,2002
230,3904,10/22/2001,20:12,1/1/2002,21:52,St. Michael's Hospital,M,85.0,1,71 days 01:40:00,2002
231,3914,3/16/2002,13:19,3/22/2002,18:01,St. Michael's Hospital,M,76.0,1,6 days 04:42:00,2002
236,3937,4/29/2002,22:16,11/1/2002,1:00,St. Michael's Hospital,M,38.0,0,185 days 02:44:00,2002
247,4096,12/2/2001,22:41,1/31/2002,4:41,St. Michael's Hospital,NaN,81.0,0,59 days 06:00:00,2002
...,...,...,...,...,...,...,...,...,...,...,...
699,6041,2001/11/08,15:46,04/10/2002,08:06,Sunnybrook Health Sciences Centre,M,77.0,1,152 days 16:20:00,2002
702,6069,2002/03/05,06:59,07/07/2002,07:24,Sunnybrook Health Sciences Centre,M,81.0,0,124 days 00:25:00,2002
755,6520,2002/01/03,09:17,06/27/2002,18:44,Toronto Western Hospital,F,NaN,0,175 days 09:27:00,2002
778,6735,2002/04/02,15:10,07/13/2002,14:05,Sunnybrook Health Sciences Centre,M,72.0,1,101 days 22:55:00,2002
783,6758,2002/07/01,15:04,11/06/2002,03:59,Toronto Western Hospital,M,77.0,1,127 days 12:55:00,2002
786,6774,2002/01/21,04:37,04/05/2002,01:16,Sunnybrook Health Sciences Centre,M,NaN,1,73 days 20:39:00,2002
802,6925,2001/07/25,12:59,01/10/2002,03:16,Sunnybrook Health Sciences Centre,F,46.0,1,168 days 14:17:00,2002
807,6968,2002/01/08,11:55,04/22/2002,22:05,Sunnybrook Health Sciences Centre,M,62.0,0,104 days 10:10:00,2002
831,7120,2002/09/20,06:11,09/23/2002,14:46,Sunnybrook Health Sciences Centre,M,84.0,0,3 days 08:35:00,2002
893,7505,2002/05/01,13:24,10/09/2002,22:29,Mount Sinai Hospital,F,85.0,1,161 days 09:05:00,2002
921,7728,2002/02/09,02:57,05/02/2002,10:36,Sunnybrook Health Sciences Centre,F,82.0,0,82 days 07:39:00,2002
928,7778,2002/04/01,06:01,09/29/2002,02:57,Sunnybrook Health Sciences Centre,NaN,48.0,1,180 days 20:56:00,2002
938,7905,2002/06/26,17:53,12/02/2002,06:36,Mount Sinai Hospital,F,47.0,0,158 days 12:43:00,2002
972,8211,2002/11/12,11:05,11/23/2002,14:38,Toronto Western Hospital,M,35.0,0,11 days 03:33:00,2002
980,8252,2002/01/12,08:52,04/30/2002,17:10,Toronto Western Hospital,M,NaN,1,108 days 08:18:00,2002
986,8279,2002/07/09,17:16,08/11/2002,13:56,Toronto Western Hospital,F,55.0,0,32 days 20:40:00,2002
994,8375,2001/08/25,13:17,02/04/2002,08:57,Mount Sinai Hospital,M,42.0,0,162 days 19:40:00,2002
1012,8463,2002/03/25,05:11,07/29/2002,13:37,Sunnybrook Health Sciences Centre,NaN,61.0,0,126 days 08:26:00,2002
1016,8477,2002/04/19,08:36,05/24/2002,18:22,Sunnybrook Health Sciences Centre,M,45.0,0,35 days 09:46:00,2002
1036,8615,2002/03/20,12:06,06/21/2002,05:06,Toronto Western Hospital,M,54.0,0,92 days 17:00:00,2002
1058,8874,2001/12/12,13:29,03/25/2002,04:57,Sunnybrook Health Sciences Centre,M,71.0,0,102 days 15:28:00,2002
1079,9023,2002/02/22,10:59,08/19/2002,09:19,Sunnybrook Health Sciences Centre,M,41.0,1,177 days 22:20:00,2002
1082,9031,2002/08/26,07:12,11/19/2002,15:28,Sunnybrook Health Sciences Centre,M,57.0,0,85 days 08:16:00,2002
1124,9320,2002/04/09,22:25,05/24/2002,21:43,Sunnybrook Health Sciences Centre,NaN,NaN,0,44 days 23:18:00,2002
1126,9324,2002/09/15,04:29,12/15/2002,16:56,Mount Sinai Hospital,F,76.0,1,91 days 12:27:00,2002
1134,9418,2001/10/18,19:14,01/11/2002,05:16,Toronto Western Hospital,F,39.0,0,84 days 10:02:00,2002
1136,9428,2002/04/28,18:45,06/04/2002,01:14,Toronto Western Hospital,M,47.0,1,36 days 06:29:00,2002
1168,9632,2002/05/02,20:24,08/02/2002,10:15,Sunnybrook Health Sciences Centre,F,49.0,0,91 days 13:51:00,2002
1172,9662,2002/04/24,17:10,07/05/2002,23:55,Toronto Western Hospital,F,NaN,1,72 days 06:45:00,2002
1180,9726,2001/12/19,23:31,03/24/2002,12:45,Mount Sinai Hospital,M,50.0,1,94 days 13:14:00,2002

In [276]:
from IPython.display import display_html
def year_output(year):
    
    html_str=''
    str_expr = "year =="+ year    # query condition
    df_q = admin.query(str_expr) # get data
    html_str += df_q.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)
    # change data frame to .csv file
    df_q.to_csv(r"Discharge_"+year+".csv", encoding='utf8',index = False, header=True)

In [272]:
# from IPython.display import display_html
# def year_output(year,output_file_name):
    
#     html_str=''
#     str_expr = "year =="+ year    
#     df_q = admin.query(str_expr) 
#     html_str += df_q.to_html()
#     display_html(html_str.replace('table','table style="display:inline"'), raw=True)
#     # change data frame to .csv file
#     df_q.to_csv(r"C:\Users\dojin\Anaconda3\workspace(basic)\TEST"+output_file_name+".csv", encoding='utf8',index = False, header=True)

In [278]:
#year_output("2005","Discharge_2005")
year_output("2005")

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay,year
1,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,2005
10,1092,3/9/2005,9:51,3/13/2005,16:22,St. Michael's Hospital,F,NaN,0,4 days 06:31:00,2005
68,1678,8/28/2005,6:05,12/1/2005,8:24,St. Michael's Hospital,M,69.0,1,95 days 02:19:00,2005
87,1912,9/16/2005,21:58,10/10/2005,15:25,St. Michael's Hospital,F,NaN,1,23 days 17:27:00,2005
95,1982,5/19/2005,1:16,8/14/2005,20:40,St. Michael's Hospital,M,40.0,1,87 days 19:24:00,2005
106,2125,5/3/2005,10:25,8/8/2005,10:10,St. Joseph's Health Centre,M,NaN,1,96 days 23:45:00,2005
112,2188,7/7/2005,19:20,12/3/2005,17:57,St. Michael's Hospital,F,56.0,1,148 days 22:37:00,2005
113,2212,9/9/2004,18:15,3/1/2005,17:11,St. Joseph's Health Centre,F,NaN,0,172 days 22:56:00,2005
117,2276,3/20/2005,17:26,4/30/2005,8:39,St. Michael's Hospital,F,NaN,0,40 days 15:13:00,2005
155,2772,9/24/2004,1:10,4/4/2005,6:51,St. Michael's Hospital,F,69.0,0,192 days 05:41:00,2005
165,2895,3/30/2005,19:41,4/23/2005,7:50,St. Michael's Hospital,M,69.0,1,23 days 12:09:00,2005
229,3903,9/23/2004,7:45,4/1/2005,9:00,St. Michael's Hospital,F,76.0,1,190 days 01:15:00,2005
240,3961,3/16/2005,3:08,9/15/2005,6:27,St. Michael's Hospital,NaN,43.0,1,183 days 03:19:00,2005
250,4108,1/17/2005,10:58,5/11/2005,12:14,St. Michael's Hospital,M,39.0,0,114 days 01:16:00,2005
261,4244,11/15/2004,23:49,1/18/2005,11:43,St. Michael's Hospital,F,63.0,0,63 days 11:54:00,2005
262,4253,1/25/2005,20:04,3/6/2005,22:02,St. Michael's Hospital,NaN,43.0,0,40 days 01:58:00,2005
270,4347,5/21/2005,7:12,8/21/2005,3:51,St. Michael's Hospital,NaN,NaN,0,91 days 20:39:00,2005
295,4556,6/12/2005,22:31,9/16/2005,1:34,St. Michael's Hospital,F,53.0,1,95 days 03:03:00,2005
335,4972,11/4/2004,17:12,5/20/2005,14:56,St. Joseph's Health Centre,M,63.0,0,196 days 21:44:00,2005
338,5038,9/12/2005,13:09,10/29/2005,14:01,St. Joseph's Health Centre,F,65.0,1,47 days 00:52:00,2005
350,5163,12/17/2004,6:13,6/1/2005,20:16,St. Michael's Hospital,F,47.0,0,166 days 14:03:00,2005
370,5364,6/1/2005,21:43,6/2/2005,11:14,St. Michael's Hospital,F,NaN,0,0 days 13:31:00,2005
384,5474,1/18/2005,22:40,3/14/2005,2:42,St. Michael's Hospital,NaN,72.0,0,54 days 04:02:00,2005
402,5670,9/14/2004,2:40,1/8/2005,14:12,St. Michael's Hospital,F,77.0,0,116 days 11:32:00,2005
415,5826,12/20/2004,13:40,7/5/2005,20:06,St. Michael's Hospital,F,48.0,0,197 days 06:26:00,2005
421,5901,2/23/2005,20:38,3/22/2005,16:44,St. Michael's Hospital,F,79.0,0,26 days 20:06:00,2005
424,5938,6/2/2005,13:50,11/30/2005,17:06,St. Michael's Hospital,M,43.0,1,181 days 03:16:00,2005
432,6011,7/1/2005,4:44,10/31/2005,23:23,St. Michael's Hospital,M,80.0,0,122 days 18:39:00,2005
437,6180,7/24/2005,1:25,11/23/2005,12:02,St. Michael's Hospital,M,47.0,0,122 days 10:37:00,2005
482,6678,5/4/2005,18:58,6/27/2005,5:30,St. Michael's Hospital,F,NaN,0,53 days 10:32:00,2005
484,6692,12/11/2004,3:26,4/25/2005,23:27,St. Joseph's Health Centre,M,NaN,1,135 days 20:01:00,2005
518,7089,1/27/2005,23:14,7/12/2005,17:49,St. Joseph's Health Centre,M,NaN,0,165 days 18:35:00,2005
535,7269,7/13/2005,1:34,12/25/2005,7:22,St. Michael's Hospital,M,45.0,0,165 days 05:48:00,2005
542,7334,8/20/2004,11:55,2/14/2005,14:29,St. Joseph's Health Centre,M,NaN,0,178 days 02:34:00,2005
568,7614,2/14/2005,20:03,5/23/2005,14:58,St. Michael's Hospital,M,51.0,0,97 days 18:55:00,2005
578,7714,6/28/2005,10:41,9/23/2005,20:06,St. Michael's Hospital,F,49.0,0,87 days 09:25:00,2005
605,7961,2/25/2005,13:13,7/24/2005,22:48,St. Joseph's Health Centre,F,47.0,1,149 days 09:35:00,2005
625,8156,3/26/2005,13:58,8/30/2005,17:45,St. Michael's Hospital,F,76.0,0,157 days 03:47:00,2005
646,8367,2/16/2005,8:08,5/20/2005,7:01,St. Michael's Hospital,M,NaN,0,92 days 22:53:00,2005
662,8654,2/12/2005,4:32,2/13/2005,18:35,St. Michael's Hospital,M,45.0,1,1 days 14:03:00,2005
666,8713,4/9/2005,12:28,9/3/2005,4:33,St. Michael's Hospital,M,81.0,1,146 days 16:05:00,2005
680,8853,8/4/2005,2:54,12/18/2005,2:50,St. Michael's Hospital,M,74.0,0,135 days 23:56:00,2005
686,8901,6/30/2005,18:22,9/30/2005,6:35,St. Michael's Hospital,F,82.0,1,91 days 12:13:00,2005
697,9014,2/1/2005,2:37,2/11/2005,17:21,St. Michael's Hospital,F,NaN,1,10 days 14:44:00,2005
702,9078,4/6/2005,10:24,8/23/2005,1:37,St. Joseph's Health Centre,F,59.0,1,138 days 15:13:00,2005
709,9131,5/14/2005,15:43,7/11/2005,11:08,St. Michael's Hospital,M,83.0,1,57 days 19:25:00,2005
711,9154,9/5/2004,16:00,3/5/2005,8:16,St. Michael's Hospital,F,69.0,1,180 days 16:16:00,2005
720,9302,4/2/2005,12:07,4/5/2005,1:56,St. Joseph's Health Centre,F,73.0,1,2 days 13:49:00,2005
722,9328,5/11/2005,17:34,8/5/2005,12:33,St. Michael's Hospital,M,57.0,1,85 days 18:59:00,2005
745,9575,7/17/2005,13:01,9/23/2005,3:03,St. Joseph's Health Centre,F,47.0,1,67 days 14:02:00,2005
757,9709,2/24/2005,20:32,4/24/2005,1:13,St. Joseph's Health Centre,M,63.0,0,58 days 04:41:00,2005
776,9903,10/7/2005,2:12,11/30/2005,18:44,St. Michael's Hospital,F,37.0,0,54 days 16:32:00,2005
32,1269,2004/08/16,16:10,01/15/2005,17:15,Sunnybrook Health Sciences Centre,NaN,62.0,1,152 days 01:05:00,2005
50,1422,2005/06/11,18:33,07/04/2005,10:38,Sunnybrook Health Sciences Centre,M,NaN,1,22 days 16:05:00,2005
71,1620,2004/09/04,13:26,01/11/2005,08:40,Mount Sinai Hospital,M,NaN,0,128 days 19:14:00,2005
80,1688,2005/04/07,05:16,04/20/2005,19:39,Toronto Western Hospital,F,72.0,1,13 days 14:23:00,2005
128,2036,2004/11/10,02:50,04/24/2005,11:58,Sunnybrook Health Sciences Centre,NaN,59.0,0,165 days 09:08:00,2005
152,2187,2005/04/29,03:39,08/11/2005,07:57,Sunnybrook Health Sciences Centre,F,49.0,1,104 days 04:18:00,2005
173,2321,2004/12/19,12:06,05/13/2005,08:39,Toronto Western Hospital,F,80.0,0,144 days 20:33:00,2005
193,2491,2004/10/19,07:02,01/10/2005,16:18,Sunnybrook Health Sciences Centre,M,54.0,0,83 days 09:16:00,2005
201,2559,2004/08/26,16:30,03/09/2005,10:27,Toronto Western Hospital,NaN,63.0,0,194 days 17:57:00,2005
241,2896,2004/12/28,10:59,06/10/2005,11:02,Mount Sinai Hospital,NaN,64.0,1,164 days 00:03:00,2005
243,2904,2005/07/29,13:44,12/22/2005,14:28,Toronto Western Hospital,NaN,43.0,1,146 days 00:44:00,2005
303,3281,2005/06/17,01:01,09/28/2005,19:26,Toronto Western Hospital,M,NaN,0,103 days 18:25:00,2005
305,3286,2004/09/01,15:05,01/14/2005,04:29,Toronto Western Hospital,M,39.0,0,134 days 13:24:00,2005
334,3447,2005/10/23,18:30,11/14/2005,04:12,Toronto Western Hospital,F,68.0,1,21 days 09:42:00,2005
344,3545,2004/12/07,10:14,06/18/2005,07:11,Sunnybrook Health Sciences Centre,F,50.0,1,192 days 20:57:00,2005
366,3676,2004/11/11,16:05,05/09/2005,02:26,Toronto Western Hospital,NaN,NaN,0,178 days 10:21:00,2005
399,3945,2004/11/23,07:28,05/17/2005,09:07,Mount Sinai Hospital,F,67.0,0,175 days 01:39:00,2005
404,3958,2005/09/21,07:24,12/26/2005,08:14,Mount Sinai Hospital,F,37.0,1,96 days 00:50:00,2005
406,3990,2004/09/07,07:17,01/23/2005,04:35,Toronto Western Hospital,M,38.0,0,137 days 21:18:00,2005
411,4028,2005/05/20,05:13,09/23/2005,02:07,Toronto Western Hospital,F,67.0,1,125 days 20:54:00,2005
437,4151,2005/05/23,14:46,11/04/2005,21:13,Mount Sinai Hospital,M,49.0,1,165 days 06:27:00,2005
452,4265,2005/06/29,11:58,08/22/2005,22:21,Sunnybrook Health Sciences Centre,F,69.0,0,54 days 10:23:00,2005
465,4344,2005/02/22,01:38,05/17/2005,05:22,Mount Sinai Hospital,M,41.0,0,84 days 03:44:00,2005
467,4360,2005/02/18,15:33,07/11/2005,18:08,Sunnybrook Health Sciences Centre,M,66.0,0,143 days 02:35:00,2005
476,4443,2005/03/29,16:48,06/25/2005,13:34,Mount Sinai Hospital,F,68.0,1,87 days 20:46:00,2005
477,4447,2005/08/14,13:50,09/19/2005,08:43,Mount Sinai Hospital,F,52.0,0,35 days 18:53:00,2005
481,4457,2005/04/12,02:32,06/25/2005,05:11,Mount Sinai Hospital,F,44.0,0,74 days 02:39:00,2005
492,4535,2004/11/13,14:11,05/18/2005,06:18,Toronto Western Hospital,F,49.0,1,185 days 16:07:00,2005
494,4551,2005/02/17,03:05,04/09/2005,02:39,Sunnybrook Health Sciences Centre,F,NaN,0,50 days 23:34:00,2005
514,4680,2004/12/15,23:24,04/29/2005,12:44,Sunnybrook Health Sciences Centre,M,NaN,1,134 days 13:20:00,2005
575,5177,2004/11/25,04:49,01/28/2005,20:23,Mount Sinai Hospital,F,54.0,0,64 days 15:34:00,2005
585,5271,2005/11/28,09:08,12/22/2005,15:58,Sunnybrook Health Sciences Centre,F,NaN,0,24 days 06:50:00,2005
595,5329,2005/02/20,15:27,06/23/2005,13:47,Toronto Western Hospital,F,NaN,1,122 days 22:20:00,2005
607,5397,2005/05/18,06:36,07/13/2005,14:24,Mount Sinai Hospital,NaN,NaN,0,56 days 07:48:00,2005
621,5469,2005/03/22,20:57,05/11/2005,22:05,Sunnybrook Health Sciences Centre,F,65.0,0,50 days 01:08:00,2005
645,5604,2005/04/21,20:01,05/26/2005,03:51,Sunnybrook Health Sciences Centre,F,79.0,1,34 days 07:50:00,2005
651,5657,2004/10/28,16:33,02/25/2005,08:31,Toronto Western Hospital,M,75.0,0,119 days 15:58:00,2005
667,5773,2004/11/07,18:26,05/24/2005,18:35,Toronto Western Hospital,M,39.0,1,198 days 00:09:00,2005
677,5829,2005/05/26,01:20,08/07/2005,22:50,Toronto Western Hospital,F,NaN,1,73 days 21:30:00,2005
687,5951,2005/04/24,18:57,06/09/2005,14:25,Sunnybrook Health Sciences Centre,M,77.0,1,45 days 19:28:00,2005
704,6081,2005/04/18,13:22,09/03/2005,12:09,Sunnybrook Health Sciences Centre,M,NaN,1,137 days 22:47:00,2005
719,6236,2005/02/05,15:10,03/31/2005,02:06,Mount Sinai Hospital,F,40.0,0,53 days 10:56:00,2005
724,6272,2005/04/04,18:54,06/02/2005,17:59,Sunnybrook Health Sciences Centre,M,83.0,0,58 days 23:05:00,2005
744,6442,2005/10/08,14:32,12/17/2005,14:27,Sunnybrook Health Sciences Centre,M,NaN,1,69 days 23:55:00,2005
748,6467,2005/11/01,20:00,12/07/2005,23:06,Toronto Western Hospital,M,38.0,1,36 days 03:06:00,2005
759,6561,2005/09/06,21:36,11/05/2005,10:12,Sunnybrook Health Sciences Centre,M,49.0,1,59 days 12:36:00,2005
801,6900,2005/08/10,14:41,12/25/2005,09:53,Mount Sinai Hospital,M,37.0,0,136 days 19:12:00,2005
805,6944,2005/01/23,02:46,02/04/2005,23:30,Toronto Western Hospital,M,46.0,0,12 days 20:44:00,2005
812,7007,2005/02/26,14:28,03/23/2005,18:07,Toronto Western Hospital,NaN,46.0,0,25 days 03:39:00,2005
837,7153,2004/11/22,15:58,05/06/2005,11:06,Sunnybrook Health Sciences Centre,F,NaN,1,164 days 19:08:00,2005
848,7196,2005/03/27,01:51,08/19/2005,22:01,Mount Sinai Hospital,F,41.0,1,145 days 20:10:00,2005
865,7322,2005/02/10,08:37,05/06/2005,05:58,Toronto Western Hospital,F,48.0,0,84 days 21:21:00,2005
880,7406,2005/08/12,15:19,09/20/2005,22:06,Sunnybrook Health Sciences Centre,F,58.0,0,39 days 06:47:00,2005
901,7569,2004/12/08,08:34,02/03/2005,11:30,Toronto Western Hospital,M,73.0,0,57 days 02:56:00,2005
905,7584,2005/02/11,10:53,02/15/2005,23:45,Sunnybrook Health Sciences Centre,F,63.0,0,4 days 12:52:00,2005
907,7628,2005/04/08,09:22,07/05/2005,23:49,Sunnybrook Health Sciences Centre,M,83.0,1,88 days 14:27:00,2005
910,7643,2005/03/13,18:17,05/24/2005,10:57,Toronto Western Hospital,M,59.0,1,71 days 16:40:00,2005
917,7691,2004/09/03,15:53,02/26/2005,20:33,Sunnybrook Health Sciences Centre,F,67.0,0,176 days 04:40:00,2005
944,7951,2005/05/08,22:15,11/13/2005,14:00,Mount Sinai Hospital,F,41.0,0,188 days 15:45:00,2005
954,8035,2005/09/19,09:04,11/13/2005,09:05,Mount Sinai Hospital,F,69.0,1,55 days 00:01:00,2005
956,8040,2004/10/06,05:19,03/02/2005,23:09,Mount Sinai Hospital,M,72.0,1,147 days 17:50:00,2005
989,8310,2004/12/16,22:02,06/22/2005,20:22,Mount Sinai Hospital,F,36.0,1,187 days 22:20:00,2005
1021,8499,2004/10/03,02:51,03/23/2005,10:01,Mount Sinai Hospital,NaN,76.0,1,171 days 07:10:00,2005
1022,8501,2005/07/27,02:53,11/18/2005,14:25,Toronto Western Hospital,F,69.0,0,114 days 11:32:00,2005
1053,8797,2005/06/21,04:54,10/24/2005,07:55,Mount Sinai Hospital,F,NaN,0,125 days 03:01:00,2005
1059,8876,2005/02/08,01:27,03/25/2005,19:14,Toronto Western Hospital,F,64.0,1,45 days 17:47:00,2005
1061,8905,2005/07/19,12:03,10/12/2005,05:27,Mount Sinai Hospital,F,74.0,0,84 days 17:24:00,2005
1067,8952,2005/01/12,20:29,03/11/2005,03:30,Sunnybrook Health Sciences Centre,M,35.0,1,57 days 07:01:00,2005
1068,8958,2005/03/19,08:43,03/20/2005,04:34,Sunnybrook Health Sciences Centre,M,NaN,1,0 days 19:51:00,2005
1090,9130,2005/03/23,13:23,07/13/2005,08:51,Sunnybrook Health Sciences Centre,M,66.0,0,111 days 19:28:00,2005
1108,9189,2005/08/20,06:52,12/24/2005,07:08,Sunnybrook Health Sciences Centre,F,51.0,1,126 days 00:16:00,2005
1110,9198,2004/10/27,09:49,01/05/2005,06:19,Sunnybrook Health Sciences Centre,NaN,NaN,0,69 days 20:30:00,2005
1114,9245,2005/01/22,18:31,05/08/2005,21:30,Sunnybrook Health Sciences Centre,M,58.0,0,106 days 02:59:00,2005
1119,9287,2005/03/24,04:03,07/19/2005,01:56,Toronto Western Hospital,F,81.0,0,116 days 21:53:00,2005
1128,9366,2005/06/07,07:24,09/09/2005,17:37,Sunnybrook Health Sciences Centre,NaN,59.0,0,94 days 10:13:00,2005
1149,9496,2005/01/04,20:17,03/06/2005,06:23,Toronto Western Hospital,F,77.0,1,60 days 10:06:00,2005
1160,9582,2005/04/15,18:05,07/20/2005,16:49,Toronto Western Hospital,NaN,71.0,0,95 days 22:44:00,2005
1179,9716,2005/01/31,11:39,02/09/2005,07:32,Sunnybrook Health Sciences Centre,F,42.0,1,8 days 19:53:00,2005
1191,9800,2005/03/25,12:19,08/30/2005,20:57,Toronto Western Hospital,F,NaN,0,158 days 08:38:00,2005
1193,9831,2005/03/08,08:22,08/08/2005,06:45,Mount Sinai Hospital,M,44.0,1,152 days 22:23:00,2005

10.Create a function called â€œcompute_hospital_meanâ€ to compute the mean test result_value. The function should have two arguments: test_code and hospital_ID. Merge the admin and lab data as appropriate or use previously created datasets. Return the result for test_code = KPL and hospital_ID = St. Michaelâ€™s Hospital.

In [281]:
full.head()

,ID,admission_date,admission_time,discharge_date,discharge_time,hospital_ID,gender,age,disease_status,length_of_stay,test_name,test_code,result_unit,result_value,result_date,result_time,provider_name
0,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,Sodium plasma,NAPL,mmol/L,137.0,2002-05-07,05:26,"Wray, Jamie"
1,1003,4/25/2002,7:47,5/8/2002,12:02,St. Joseph's Health Centre,F,NaN,0,13 days 04:15:00,Creatinine plasma,CREAPL,umol/L,537.0,2002-05-02,02:02,"Young, Jennifer"
2,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,Sodium plasma,NAPL,mmol/L,143.1,2004-10-19,04:17,"Wilbur, Kurra"
3,1008,9/2/2004,7:49,2/1/2005,10:07,St. Michael's Hospital,M,58.0,0,152 days 02:18:00,Urea plasma,UREAPL,mmol/L,13.0,2004-11-05,13:58,"PREMOVICH, TAYLOR"
4,1009,1/1/2011,17:08,6/26/2011,8:16,St. Michael's Hospital,NaN,NaN,1,175 days 15:08:00,Sodium plasma,NAPL,mmol/L,145.7,2011-04-25,21:51,"Ivojevic, Alexandra"

In [453]:
full.hospital_ID=full.hospital_ID.str.replace(pat=r'[^A-Za-z0-9]', repl=r' ', regex=True)  # replace all special symbols to space

In [455]:
full.hospital_ID.unique()

array(['St  Joseph s Health Centre', 'St  Michael s Hospital',
       'Mount Sinai Hospital', 'Toronto Western Hospital',
       'Sunnybrook Health Sciences Centre'], dtype=object)

In [457]:
def compute_hospital_mean(test_code,hospital_ID):
    return full[(full.test_code==test_code) & full.hospital_ID.str.contains(hospital_ID)].result_value.mean()

In [458]:
compute_hospital_mean('KPL' , "St  Michael s Hospital")

6.3736000000000015